<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="my-1">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <strong>{{student.lastName}}</strong>
    </mat-panel-title>
    <mat-panel-description>
      <span class="pull-right">{{student.status}}</span>    
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div *ngIf="!showEditForm">
    <mat-grid-list cols="4" rowHeight="8:1" class="custom-tile">
      <mat-grid-tile>Name: </mat-grid-tile>
      <mat-grid-tile colspan="3">{{student.firstName}} {{student.lastName}}</mat-grid-tile>
      <mat-grid-tile>Matriculation #: </mat-grid-tile>
      <mat-grid-tile colspan="3">{{student.matriculation}}</mat-grid-tile>
      <mat-grid-tile>Semester: </mat-grid-tile>
      <mat-grid-tile colspan="3">{{student.semester}}</mat-grid-tile>
      <mat-grid-tile>ECTS completed: </mat-grid-tile>
      <mat-grid-tile colspan="3">{{student.ects}}</mat-grid-tile>
    </mat-grid-list>
    <div fxLayoutAlign="center">
      <button mat-stroked-button color="primary" class="mr-1 my-1">
        <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="onEdit()">edit</mat-icon>
      </button>
      <button mat-stroked-button color="accent" class="my-1">
        <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="onDelete(student.id)" >delete</mat-icon>
      </button>
    </div>
  </div>

  <app-student-form [student]="editableStudent" *ngIf="showEditForm"></app-student-form>
</mat-expansion-panel>