<div class="main-wrapper" fxLayout="column" fxLayoutAlign="first" fxFill>
  <div class="container m-1">
    <div fxLayout="row" fxLayoutAlign="space-between">
      <h1>{{title}}</h1>
      <span class="pull-right">
        <button mat-mini-fab color="primary" aria-label="Example icon button with a delete icon" (click)="onClickAdd()">
          <mat-icon>add</mat-icon>
        </button>
      </span>
    </div>
    <mat-accordion>
      <app-student-form *ngIf="showStudentForm" [student]="newStudent" (cancelForm)="onCancelForm($event)"></app-student-form>
      <app-student-view *ngFor="let student of students" [student]="student"></app-student-view>
    </mat-accordion>
    <div *ngIf="students.length === 0 && showStudentForm===false" fxLayoutAlign="center">
      <h4>No Students Found</h4>
    </div>
  </div>
</div>