<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center" fxFill>
  <mat-card class="box form-width" >
    <mat-card-header>
      <mat-card-title>Sign In</mat-card-title>
    </mat-card-header>

    <form class="example-form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <div>
          <input matInput placeholder="username" formControlName="username">
          <div *ngIf="submitted && formData.username.errors" class="invalid-feedback">
            <div *ngIf="formData.username.errors.required">Required</div>
          </div>
        </div>

        <div>
          <input matInput placeholder="Password" type="password" formControlName="password">
        </div>
        <div *ngIf="submitted && formData.password.errors" class="invalid-feedback">
          <div *ngIf="formData.password.errors.required">Required</div>
        </div>
      </mat-card-content>
      <div fxLayoutAlign="center">
        <button mat-stroked-button color="accent" class="btn-block" type="submit">Sign-in</button>
      </div>
    </form>
  </mat-card>

</div>